.tipbox-overlay {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 10600;
    visibility: hidden;
    opacity: 0;
    -webkit-transition-duration: 400ms;
    transition-duration: 400ms;
}

.tipbox-overlay.tipbox-overlay-visible {
    visibility: visible;
    opacity: 1;
}

.tipbox {
    width: 270px;
    position: fixed;
    z-index: 11000;
    left: 50%;
    top: 50%;
    text-align: center;
    border-radius: 7px;
    opacity: 0;
    -webkit-transform: translate3d(-50%, -50%, 0) scale(1.185);
    transform: translate3d(-50%, -50%, 0) scale(1.185);
    -webkit-transition-property: -webkit-transform, opacity;
    transition-property: transform, opacity;
    color: #000;
    display: none;
}

.tipbox.tipbox-in {
    opacity: 1;
    -webkit-transition-duration: 400ms;
    transition-duration: 400ms;
    -webkit-transform: translate3d(-50%, -50%, 0) scale(1);
    transform: translate3d(-50%, -50%, 0) scale(1);
}

.tipbox.tipbox-out {
    opacity: 0;
    z-index: 10999;
    -webkit-transition-duration: 400ms;
    transition-duration: 400ms;
    -webkit-transform: translate3d(-50%, -50%, 0) scale(0.815);
    transform: translate3d(-50%, -50%, 0) scale(0.815);
}

.tipbox-inner {
    padding: 15px;
    border-radius: 7px 7px 0 0;
    position: relative;
    background: #e8e8e8;
}

.tipbox-inner:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    right: auto;
    top: auto;
    height: 1px;
    width: 100%;
    background-color: #b5b5b5;
    display: block;
    z-index: 15;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
}

html.ios-gt-6.pixel-ratio-2 .tipbox-inner:after {
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
}

html.ios-gt-6.pixel-ratio-3 .tipbox-inner:after {
    -webkit-transform: scaleY(0.33);
    transform: scaleY(0.33);
}

.tipbox-title {
    font-weight: 500;
    font-size: 18px;
    text-align: center;
}

.tipbox-title + .tipbox-text {
    margin-top: 5px;
}

.tipbox-buttons {
    height: 44px;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.tipbox-button {
    width: 100%;
    padding: 0 5px;
    height: 44px;
    font-size: 17px;
    line-height: 44px;
    text-align: center;
    color: #007aff;
    background: #e8e8e8;
    display: block;
    position: relative;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-flex: 1;
    -ms-flex: 1;
}

.tipbox-button:after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    left: auto;
    bottom: auto;
    width: 1px;
    height: 100%;
    background-color: #b5b5b5;
    display: block;
    z-index: 15;
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
}

html.ios-gt-6.pixel-ratio-2 .tipbox-button:after {
    -webkit-transform: scaleX(0.5);
    transform: scaleX(0.5);
}

html.ios-gt-6.pixel-ratio-3 .tipbox-button:after {
    -webkit-transform: scaleX(0.33);
    transform: scaleX(0.33);
}

.tipbox-button:first-child {
    border-radius: 0 0 0 7px;
}

.tipbox-button:last-child {
    border-radius: 0 0 7px 0;
}

.tipbox-button:last-child:after {
    display: none;
}

.tipbox-button:first-child:last-child {
    border-radius: 0 0 7px 7px;
}

.tipbox-button.tipbox-button-bold {
    font-weight: 500;
}

html:not(.watch-active-state) .tipbox-button:active,
.tipbox-button.active-state {
    background: #d4d4d4;
}